{% extends 'base.html' %}
{% block blockmain %}
<div class="row h-100">
    <!-- parameters -->
    <div class="col-lg-4 col-sm-6 h-100 scroll-auto">
        <!-- Step1 -->
        <nav class="navbar navbar-dark bg-dark inner text-left">
            <a class="navbar-brand">Step1: General Parameters</a>
            <button aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler collapsed" data-target="#navbarsExample02" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarsExample02" style="">
                <ul class="navbar-nav mr-auto">
                    <form action="/hunt" method="post">
                        <!-- engine -->
                        <li class="nav-item dropdown">
                            <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="dropdown04">Engine</a>
                            <div aria-labelledby="dropdown04" class="dropdown-menu bg-dark border-none">
                                <div class="row">
                                    <div class="col-4 dropdown-item text-white">Engine</div>
                                    <input class="col-7 text-white bg-transparent border-dashed" list="itemlist1" name="engine">
                                    <datalist id="itemlist1">
                                        <option>Harrier</option>
                                    </datalist>
                                </div>
                            </div>
                        </li>
                        <!-- basic -->
                        <li class="nav-item dropdown">
                            <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="dropdown02">Basic</a>
                            <div aria-labelledby="dropdown02" class="dropdown-menu bg-dark border-none">
                                <div class="row">
                                    <div class="col-4 dropdown-item text-white">URL</div>
                                    <input class="col-7 text-white bg-transparent border-dashed" name="url" placeholder="https://host:port/path">

                                    <div class="col-4 dropdown-item text-white">Method</div>
                                    <input class="col-7 text-white bg-transparent border-dashed" list="itemlist_method" name="method" placeholder="POST/GET">
                                    <datalist id="itemlist_method">
                                        <option>GET</option>
                                        <option>POST</option>
                                    </datalist>

                                    <div class="col-4 dropdown-item text-white">View Part</div>
                                    <input class="col-7 text-white bg-transparent border-dashed" list="itemlist_view" name="viewpart">
                                    <datalist id="itemlist_view">
                                        <option>text</option>
                                        <option>json</option>
                                        <option>header</option>
                                        <option>content</option>
                                    </datalist>

                                    <div class="col-4 dropdown-item text-white">Timeout</div>
                                    <input class="col-7 text-white bg-transparent border-dashed" type="number" name="timeout" placeholder="e.g.30">

                                    <div class="col-4 dropdown-item text-white">Encoding</div>
                                    <input class="col-7 text-white bg-transparent border-dashed" name="encoding" placeholder="e.g.UTF-8">

                                    <div class="col-4 dropdown-item text-white">setHeaders</div>
                                    <input class="col-7 text-white bg-transparent border-dashed" name="setHeaders" placeholder="e.g.{'user-agent':'Mozilla/5.0'}">

                                    <div class="col-4 dropdown-item text-white">setParams</div>
                                    <input class="col-7 text-white bg-transparent border-dashed" name="setParams" placeholder="e.g.{'q':'xxx'}">

                                    <div class="col-4 dropdown-item text-white">setData</div>
                                    <input class="col-7 text-white bg-transparent border-dashed" name="setData" placeholder="e.g.{'xx':'xxx'}">

                                    <div class="col-4 dropdown-item text-white">setJson</div>
                                    <input class="col-7 text-white bg-transparent border-dashed" name="setJson" placeholder="e.g.{'xx':'xxx'}">

                                    <div class="col-4 dropdown-item text-white">Cookies</div>
                                    <input class="col-7 text-white bg-transparent border-dashed" name="cookies" placeholder="e.g.{'xx':'xxx'}">

                                    <div class="col-4 dropdown-item text-white">Files</div>
                                    <input class="col-7 text-white bg-transparent border-dashed" name="files" placeholder="e.g.{'xx':'xxx'}">

                                    <div class="col-4 dropdown-item text-white">Proxies</div>
                                    <input class="col-7 text-white bg-transparent border-dashed" name="proxies" placeholder="e.g.{'xx':'xxx'}">

                                    <div class="col-4 dropdown-item text-white">Auth</div>
                                    <input class="col-7 text-white bg-transparent border-dashed" name="auth" placeholder="e.g.()">

                                    <div class="col-4 dropdown-item text-white">Allow_redirects</div>
                                    <input class="col-7 text-white bg-transparent border-dashed" name="allow_redirects" placeholder="e.g.True/False">

                                    <div class="col-4 dropdown-item text-white">Verify</div>
                                    <input class="col-7 text-white bg-transparent border-dashed" name="verify" placeholder="e.g.True/False">

                                    <div class="col-4 dropdown-item text-white">Stream</div>
                                    <input class="col-7 text-white bg-transparent border-dashed" name="stream" placeholder="e.g.True/False">

                                    <div class="col-4 dropdown-item text-white">Cert</div>
                                    <input class="col-7 text-white bg-transparent border-dashed" name="cert" type="file">
                                </div>
                            </div>
                        </li>
                        <!-- optimize -->
                        <li class="nav-item dropdown">
                            <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="dropdown03">Optimize</a>
                            <div aria-labelledby="dropdown03" class="dropdown-menu bg-dark border-none">
                                <div class="row">
                                    <div class="col-7 dropdown-item text-white">Concurrent Requests</div>
                                    <input class="col-4 text-white bg-transparent border-dashed" name="crequests" placeholder="32">
                                    <div class="col-7 dropdown-item text-white">Concurrent Items</div>
                                    <input class="col-4 text-white bg-transparent border-dashed" name="citems" placeholder="100">
                                    <div class="col-7 dropdown-item text-white">Concurrent Requests per domain</div>
                                    <input class="col-4 text-white bg-transparent border-dashed" name="crequestdomain" placeholder="8">
                                    <div class="col-7 dropdown-item text-white">Concurrent Requests per IP</div>
                                    <input class="col-4 text-white bg-transparent border-dashed" name="crequestip" placeholder="0">
                                </div>
                            </div>
                        </li>
                        <!-- save -->
                        <li class="nav-item dropdown">
                            <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="dropdown05">Save</a>
                            <div aria-labelledby="dropdown05" class="dropdown-menu bg-dark border-none">
                                <div class="row">
                                    <div class="col-4 dropdown-item text-white">Download</div>
                                    <a class="btn bg-info text-white" download="{{ name }}.html" href="{{ content }}">Download</a>
                                </div>
                            </div>
                        </li>
                        <!-- run -->
                        <li class="nav-item active">
                            <button class="nav-link btn bg-info w-100" type="submit">Hunt<span class="sr-only">(current)</span></button>
                        </li>
                    </form>
                </ul>
            </div>
        </nav>
        <br>
        <!-- Step2 -->
        <nav class="navbar navbar-dark bg-dark inner text-left">
            <a class="navbar-brand">Step2: Filter Data</a>
            <button aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler collapsed" data-target="#navbarsExample12" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarsExample12" style="">
                <ul class="navbar-nav mr-auto">
                    <form action="/filter" method="post">
                        <input name="html_txt" value="{{result}}" style="display:none;">
                        <!-- regex -->
                        <li class="nav-item dropdown show">
                            <a aria-expanded="true" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="dropdown12">Regex</a>
                            <div aria-labelledby="dropdown12" class="dropdown-menu bg-dark border-none show">
                                <div class="row">
                                    <div class="col-4 dropdown-item text-white">Regex</div>
                                    <input class="col-7 text-white bg-transparent border-dashed" name="regex" placeholder="e.g. [r'<p>+']">

                                    <div class="col-4 dropdown-item text-white">Split</div>
                                    <input class="col-7 text-white bg-transparent border-dashed" name="split" placeholder="e.g. -">

                                    <div class="col-4 dropdown-item text-white">Part(num)</div>
                                    <input class="col-7 text-white bg-transparent border-dashed" name="num" placeholder="e.g. 0">
                                </div>
                            </div>
                        </li>
                        <!-- Tag/Subtag -->
                        <li class="nav-item dropdown">
                            <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="dropdown13">Tag/Subtag</a>
                            <div aria-labelledby="dropdown13" class="dropdown-menu bg-dark border-none">
                                <div class="row">
                                    <div class="col-4 dropdown-item text-white">Tag</div>
                                    <input class="col-7 text-white bg-transparent border-dashed" name="tag" placeholder="e.g. div">

                                    <div class="col-4 dropdown-item text-white">Subtag</div>
                                    <input class="col-7 text-white bg-transparent border-dashed" name="subtag" placeholder="e.g. h3">

                                    <div class="col-4 dropdown-item text-white">Parser</div>
                                    <input class="col-7 text-white bg-transparent border-dashed" name="parser" placeholder="e.g. html.parser">
                                </div>
                            </div>
                        </li>
                        <!-- run -->
                        <li class="nav-item active">
                            <button class="nav-link btn bg-info w-100" type="submit">Filter<span class="sr-only">(current)</span></button>
                        </li>
                    </form>
                </ul>
            </div>
        </nav>
        <br>
        <!-- Step3 -->
        <nav class="navbar navbar-dark bg-dark inner text-left">
            <a class="navbar-brand">Step3: Output Result</a>
            <button aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler collapsed" data-target="#navbarsExample22" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarsExample22" style="">
                <ul class="navbar-nav mr-auto">
                    <form action="/output" method="post">
                        <input name="html_txt" value="{{result}}" style="display:none;">
                        <!-- output -->
                        <li class="nav-item dropdown show">
                            <a aria-expanded="true" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="dropdown22">Output</a>
                            <div aria-labelledby="dropdown22" class="dropdown-menu bg-dark border-none show">
                                <div class="row">
                                    <div class="col-4 dropdown-item text-white">Output Format</div>
                                    <input class="col-7 text-white bg-transparent border-dashed" name="format" placeholder="e.g. {0}-{1}-{2}">
                                    <div class="col-4 dropdown-item text-white">Column Names</div>
                                    <input class="col-7 text-white bg-transparent border-dashed" name="col_name" placeholder="e.g. ['a', 'b', 'c']">
                                </div>
                            </div>
                        </li>
                        <!-- save -->
                        <li class="nav-item dropdown">
                            <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="dropdown25">Save</a>
                            <div aria-labelledby="dropdown25" class="dropdown-menu bg-dark border-none">
                                <div class="row">
                                    <div class="col-4 dropdown-item text-white">Download</div>
                                    <a class="btn bg-info text-white" download="{{ name }}.html" href="{{ content }}">Download</a>
                                </div>
                            </div>
                        </li>
                        <!-- run -->
                        <li class="nav-item active">
                            <button class="nav-link btn bg-info w-100" type="submit">View & Save<span class="sr-only">(current)</span></button>
                        </li>
                    </form>
                </ul>
            </div>
        </nav>
        <br>
    </div>
    <!-- Browser -->
    <div class="col-lg-4 h-100 d-none d-lg-block">
        <p class="bg-transparent text-white w-100 h-5 border-dashed margin-auto">Browser</p>
        <input class="bg-transparent text-white w-100 h-5 border-dashed" id="ipt001" onblur="changeiframe()" placeholder="https://host:port/path">
        <iframe class="w-100 h-90 bg-transparent border-dashed" id="ifm001" src=""></iframe>
    </div>
    <!-- Results -->
    <div class="col-lg-4 col-sm-6">
        <textarea class="w-100 border-dashed bg-transparent text-white h-100" placeholder="Results Here" readonly>{{ result }}</textarea>
    </div>
</div>
{% endblock %}